
h1 span {
	color:#8fbb1b;
}

h1 small {
	padding:4px 6px;
	display:block;
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	color:#8fbb1b;
}

h1 {
	margin:0;
	padding:20px 0 12px;
	font:normal 40px/1.2em Arial, Helvetica, sans-serif;
}

h1 a {
        color: #615555;
	text-decoration:none;
        
}

