@charset "utf-8";

body {
	margin:0;
	padding:0;
	width:auto;
}

html {
	padding:0;
	margin:0;
}

p.clr, .clr {
	clear:both;
	padding:0;
	margin:0;
}

.container {
	margin:0 auto;
	padding:0;
}

/* ==========================================================================
   Style dell header
   ==========================================================================
*/

/*tutta la barra dell header*/
#header {
	margin:0;
	padding:0;
	width: auto;
        background-color:#cccccc;
        background: url(images/header_bg.gif) repeat-x left;
}

/*si riferisce alla parte cenytrale*/
#header_resize {
	margin:0 auto;
	padding:0;
	width:930px;
}

#logo {
	width:524px;
	margin:0 auto;
	padding:0 6px;
	float:left;
}


/*nav composta da accedi e registrati*/
#accedi_registati {
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0;
	width: 300px;
	float: right;
}

#accedi_registati ul{
	padding:0;
	margin:0;
	list-style:none;
	border:0;
	float:left;
}

#accedi_registati ul li {
	float:left;
	margin:0;
	padding:16px 6px;
}

#accedi_registati ul li a {
	float:left;
	margin:0;
	padding:0 0 0 6px;
	color:#5f5f5f;
	font:normal 10px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
}

#accedi_registati ul li label{
	
    border-left:1px solid #777776;
    margin:0;
    padding:0 0 0 0px;
	
}

#accedi_registati ul li a:hover {
    color:#afc22b;
}

/*barra di ricerca*/
#search {
        
    float:left;
    margin: 0px;
    width: 600px;
       
}

#search ul.errors{
    
    display: none;
}

input.button {
    
    margin-left:5px;                                   
    padding:2px;
    margin: 0 0 0 5px;
    box-shadow: none;
    font: 13.3333px Arial;
    font-size: 16px;
    height: 34px;
    width: 58px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #8fbb1b;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.5px;
    position: relative;
   
        
}

#search form #textfield {
    
    width:300px;
    line-height:14px;
    height: 17px;
    background:white;
    padding:6px 2px;
    margin-left:5px;
    font:normal 15px Arial, Helvetica, serif;
    color:black;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#search select{
    margin-left:5px;
    padding:9px;
    margin: 0 0 0 5px;
    box-shadow: none;
    font-size: 11px;
    height: 32px;
    width: 90px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/*nav composta da home,categorie,aziende,contattaci*/
.menu {
    padding:0;
    margin:0;
    width:auto;
    float:left;
}

ul#Pricipale-a {
    
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    float:left;
}

li.left {
	float:left;
	margin:0;
	padding:16px 6px;
}

a.Principale-b {
	border-left:1px solid #777776;
	float:left;
	margin:0;
	padding:0 0 0 16px;
	color:#5f5f5f;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
}

.menu ul li a:hover {
	color:#afc22b;
}

a#active {
	color:#afc22b;
}

/* ==========================================================================
   Style corpo 
   ==========================================================================
*/

#bodyresize {
    
    margin:0 auto;
    padding:0px 0 20px 0px;
    width:930px;
    min-height: 500px;
    background-color: white
            
}

.body {
    
    margin:0;
    padding:40px 25px 40px 25px;
    background:url(images/body-bg.jpg);
    
}

/*immagine di presentazione*/
img#bodyimg {
	float:left;
	margin:5px;
	
}

#button{                             
        width:100px;
        height:50px;
        background:url(images/freccia.png);
        position: relative;
        cursor:pointer;
       
}

/* ==========================================================================
   Style corpo (PRODOTTI INDEX)
   ==========================================================================
*/

.prodotto {
	float:right;
        width:435px; 
        height:284px; 
        border:0;
	margin:0;
	padding:30px 10px 0 0px;
}

.textarea {
    
	width:480px;
	margin:0;
	padding:20px 0 0 5px;
	float:left;
	background:top no-repeat;
}

.textarea h2 {
    
	font:bold 30px Arial, Helvetica, sans-serif;
	color:#a9a9a9;
	padding:10px 0;
	margin:0;
        text-align: center;
}

.textarea p {
    
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#696969;
	padding:5px;
	margin:0;
	line-height:1.8em;
        text-align: center;
}



/* ==========================================================================
   Style dell footer
   ==========================================================================
*/

.footer_resize {
	margin:0 auto;
	padding:25px 0;
	width:930px;
	color:#6e6e6e;
	font:normal 12px Arial, Helvetica, sans-serif;
}

.footer {
        float: left;
        width:100%;
        padding:0;
        height:100%;
	margin:0 auto 0 auto;
	border-top:1px dotted #ccc;
        background:url(images/footer.gif) repeat-x left top;
}

.footer a {
	color:#6e6e6e;
	padding:inherit;
	text-decoration:none;
}

.footer a:hover {
	text-decoration:underline;
        
}


#Azienda{
    
    float: left;
    padding: 0 50px 20px 0;
    
}

#Ituoidiritti{
     float: left;
    
         padding: 0 90px 20px 0;
    
}

#Documentazione{
    float: left;
}

/*p.response {
	text-align:center;
	color:#F00;
	font:normal 11px Georgia, "Times New Roman", Times, serif;
	line-height:1.8em;
	width:auto;
}*/

/* ==========================================================================
   Paginatore
   ==========================================================================
*/
#pagination {
	text-align :center;
}

#pagination a {
	border-bottom:none
}

/* ==========================================================================
   Classi generali utilizzate nel sito
   ==========================================================================
*/

.Titolo {
    
    font-family: Hind, sans-serif;
    margin: 10px;
    color:#8fbb1b;
    padding:10px 0;
	
}

.Sottotitolo{
    
    margin:10px;
    padding: 0;
}

.Testo{
    
    color: #75787b;
    font-family: Arial, sans-serif;
    margin:15px;
    padding: 0;
    
}

/*errori*/
ul.errors{
    
    color: #F00;
}

/*bottoni*/
.bottom{
    
    color: white;
    background-color: #8fbb1b;
    margin: 5px;
    
}

/*hr*/
hr{
    width:90%;
    height: 2px;
}


/* ==========================================================================
   Lista promozioni
   ==========================================================================
*/

/*riferito alla lista promozioni*/
.TestoLista{
    
    font-size: 17px;
    text-transform: uppercase;
}

.imglist{
    
    cursor: pointer;
    margin: 10px;
    border: solid 1px #999;
    width: 200px;
    height: 150px;
    
}

li.prom{
    
    margin-top:10px;
    list-style:none;
    
}

div.info{
    
    margin: 0 auto;
    
}

.Desc_br{
    
    color: #75787b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

div.promlist{
    float:right;
}

/*css per l ingrandimento immagine*/
#ingrandita {
  display: none;
  position: fixed;
  background: #FFFFFF;
  top: 50px;
  left:400px;
  z-index: 10;
  min-height: 200px;
  min-width: 200px;
  color: #336699;
}

/*css per l ingrandimento immagine*/
#sfondo{
    
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 1;;
  
}


/* ==========================================================================
   Aziende
   ==========================================================================
*/

/*in riferimento alla lista delle aziende*/
ul.listaziende{
    
    float: left;
}

/*in riferimento all immagine delle aziende*/
.imgs{
    
   width:  200px;
   height: 100px;
   margin: 30px;
   
}


.imgprom{
    
    align-content: center;
    width: 100%;
}


div#content{
    
    text-align: center;
}

input#coupon{
    
    float:left;
}


/* ==========================================================================
   Style generale per le form
   ==========================================================================
*/
form{
    
    margin: 10px;
}

label{
    
    color:#336699;
    font-size: 15px;
    padding: 10px;
}

input{
    
    border-radius: 5px;
    padding:3px;
}

/* ==========================================================================
   Style particolare per LIVELLO 3 
   ==========================================================================
*/
#Livello3 ul{
    
    list-style: none;
        
}

#Livello3 ul li{
    
    float:left;
    margin:10px;
    
}

#Livello3{
    
   margin-left:80px;
   margin-right:80px;
    
}

/*schedautente (riferito sempre al livello 3)*/
div#schedautente{
    
    margin-left:10px;
    
}




















	
	





